.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow-x: hidden;
}
.drag-drop-container{
  width: 99.5%
}
.div1 {
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.mat-expansion-panel-header{
  padding: 0 12px
}
.mat-expansion-panel-body{
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 0 0 12px 12px;
}
.div2 {
  display: none;
}

.div4 {
  width: 100%;
  max-width: 800px;
}
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  color: #555;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  resize: none;
  overflow-y: auto;
}

textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.table_component {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}



.table_component table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table_component th {
  background: #007bff;
  color: white;
  padding: 10px;
}

.table_component td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.table_component tr:hover {
  background: #f4f6f9;
}
.mat-expansion-panel:not([class*=mat-elevation-z]){
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
}
.card {
  background: white;
  border-radius: 12px;
  width: 99.5%;
  margin: 2px ;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-2px);
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 8px;
}

.file-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.file-details{
  display: flex;
  flex-direction: column;
  width: 100%;

  background: white;
}

.file-property {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
.file-property:last-child {
  border-bottom: none;

}.file-property h4 {
   font-size: 14px;
   font-weight: 600;
   color: #333;
   margin: 0;
 }

.file-property p {
  font-size: 14px;
  color: #555;
  margin: 0;
}


.file-actions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.create-button {
  width: 100%;
  margin-bottom: 12px;
}

.download-btn {
  color: #007bff;
  font-size: 20px;
  transition: transform 0.2s ease-in-out;
}

.download-btn:hover {
  background-color: rgba(0, 123, 255, 0.18);
  transform: scale(1.1);
}

.delete-btn {
  color: #d32f2f;
}

.delete-btn:hover {
  background-color: #ffe6e6;
}
.header-content{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}
p {
  margin: 0;
  text-align: left;
  padding: 0;
}

@media (max-width: 850px) {
  .container {
    width: 100%;

  }

  .div4 {
    width: 100%;
    max-width: 90%;
  }
  .file-actions-container {
    justify-content: center;
  }

  .upload-section {
    width: 100%;
    max-width: 90%;
  }

  .table_component {
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 1.8rem;
  }
}
