 <div class="container">
      <div class="div1">
        <h1>Zoznam materiálov k stiahnutiu</h1>
      </div>
      <div class="div2"></div>
      <div class="div4">

        <!-- upload section -->
        @if(loggedRole != "student"  ){
          <section class="create">
            <h2>Upload File</h2>
            <form>
              <div class="mb-3">
                <textarea type="text" class="form-control" id="name" name="name"
                          placeholder="Zadajte popis súboru" [(ngModel)]="description"></textarea>
              </div>
              <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
              <div class="row">
                <div class="offset-md-5 col-md-2">
                  <button class="create-button" mat-flat-button (click)="onCreate()">Create </button>
                </div>
              </div>
            </form>
          </section>
        }



        <!-- List of files -->

        @if(showLoader){
          <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px">
            <mat-spinner [diameter]="50"></mat-spinner>
            <p>Načítavam súbory</p>
          </div>
        } @else{
          <div class="table_component">
            @for(file of files; track  file.id){
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                <span class="material-icons">
                  description
                </span>
                  <p>{{ file.name }}</p>

                </mat-expansion-panel-header>
                <div class="file-container">
                  <div class="file-details">
                    <div class="file-property">
                      <h4>Popis:</h4>
                      <p>{{file.description}}</p>
                    </div>

                    <div class="file-property">
                      <h4>Typ súboru:</h4>
                      <p>{{file.extension}}</p>
                    </div>

                    <div class="file-property">
                      <h4>Veľkosť:</h4>
                      <p>{{file.size}}</p>
                    </div>

                    <div class="file-property">
                      <h4>Pridal:</h4>
                      <p>{{file.author}}</p>
                    </div>
                  </div>
                  <span class="material-icons" (click)="download(file.path)">
                file_download
              </span>
                </div>
              </mat-expansion-panel>
            }
          </div>
        }

      </div>
      <div class="div2"></div>

    </div>











<!--<table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Názov</th>
          <th scope="col">Popis</th>
          <th scope="col">Typ súboru</th>
          <th scope="col">Pridal</th>
          <th scope="col">Stiahnuť</th>
        </tr>
        </thead>
        <tbody>
        @for(file of files; track  file.id){
          <tr>
            <td>{{file.name}}</td>
            <td>{{file.description}}</td>
            <td>{{file.extension}}</td>
            <td>{{file.author}}</td>
            <td><a href="#">Stiahnuť</a></td>
          </tr>
        }
        </tbody>
      </table> -->
