.container{
  background-color: #f2f2f2;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 6; }
.div2 { grid-area: 2 / 1 / 6 / 2; }
.div3 { grid-area: 2 / 5 / 6 / 6; }
.div4 { grid-area: 2 / 2 / 6 / 5; }
.table_component {
  overflow: auto;
  width: 100%;
}

.table_component table {
  border: 1px solid #727274;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
}

.table_component caption {
  caption-side: top;
  text-align: left;
}

.table_component th {
  border: 1px solid #727274;
  background-color: #eceff1;
  color: #000000;
  padding: 5px;
}

.table_component td {
  border: 1px solid #727274;
  padding: 5px;
}

.table_component tr:nth-child(even) td {
  background-color: #ffffff;
  color: #000000;
}

.table_component tr:nth-child(odd) td {
  background-color: #dfdddd;
  color: #000000;
}
h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  align-self: center;
  padding: 1%;
}

