@if (authService.authenticated()) {
  <h1>You're currently logged in.</h1>
} @else {
  <h1 class="header">OpenForum</h1>
  <h2 class="subheader">Prihlás sa a pomáhaj si s ostatnými OpenLabistami!</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field>
      <mat-label>Zadajte váš e-mail</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Zadajte svoje heslo</mat-label>
      <input matInput [type]="'password'" formControlName="password">
    </mat-form-field>

    @if(showLoader == false){
      <button mat-raised-button color="primary" type="submit">Prihlásiť sa</button>
      <p>Ak ešte nemáte účet, <a [routerLink]="['/register']">zaregistrujte sa</a> </p>
    } @else {
      <mat-spinner [diameter]="50"></mat-spinner>
    }

    @if(errorMessage == true){
      <p style="color: #af0404; margin-top: 10px"> Wrong username or password, please try again </p>
    }
  </form>
}
