<script src="https://www.google.com/recaptcha/api.js" ></script>

<div class="forgot-password-container">
  <mat-card class="forgot-password-card">
    <div class="text-center">
      <img src="assets/logo.png" alt="Logo" class="logo">
      <p>Prosím zadajte emailovú adresu, ktorá je spojená s vašim účtom pre obnovu hesla</p>
    </div>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
        <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      <re-captcha
        (resolved)="resolved($event)"
        siteKey="6LdESbkqAAAAABVOJnmG1cOyx5FGPD1e23TVUHur">
      </re-captcha>

      <div class="action-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="forgotPasswordForm.invalid || !captcha">
          Reset Password
        </button>
      </div>
    </form>

    <div class="footer-links text-center">
      <a mat-button routerLink="/login">Log In</a>
      <span>|</span>
      <a mat-button routerLink="/register">Register</a>
    </div>
  </mat-card>
</div>
