<mat-toolbar>
  <div class="left">
    <button mat-button [routerLink]="['/forum']">Domov</button>
    <button mat-button [routerLink]="['/dashboard']">Dashboard</button>

  </div>

  <img class="logo" [routerLink]="['/forum']"  src="favicon.ico" alt="Favicon" />
<div class="right">
  @if (authService.authenticated()) {
    <button class="right-button" mat-button (click)="logout()">Logout</button>
    <button class="right-button" mat-button [routerLink]="['/create-post']" >Nový príspevok</button>
    <button class="right-button" mat-button >Nastavenia</button>
    <button class="right-button" mat-button >Profil</button>
  } @else {
    <button class="right-button" mat-button [routerLink]="['/login']">Login</button>
    <button class="right-button" mat-button [routerLink]="['/register']">Registration</button>
  }
</div>
</mat-toolbar>
