mat-toolbar{
  padding: 0;
  margin: 0;
}

.container{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 20px;
  width: 100%;
}

.logo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 80px;
  justify-content: start;
  margin-top: -30px;
}

.logo:hover {
  cursor: pointer;
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: right;
}
