<mat-toolbar>
  <div class="container">
    <div class="left">
      <button mat-button [routerLink]="['/forum']">Domov</button>
    </div>

    <img class="logo" [routerLink]="['/forum']"  src="favicon.ico" alt="Favicon" />

    <div class="right">
      @if (authService.authenticated()) {
        <button class="right-button create-btn" mat-button color="accent" (click)="createPost()">Nový príspevok</button>
        <button mat-button [matMenuTriggerFor]="menu">Profil
          @if(hasNotifications){
            <div class="nav-notifications-indicator notifications-indicator"></div>
          }

        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="removeNotificationsAlert()" [routerLink]="['/notifications']"> Oznámenia
            @if(hasNotifications){
              <div class="menu-notifications-indicator notifications-indicator"></div>
            }
          </button>
          <button mat-menu-item [routerLink]="['/dashboard']">Nastavenia</button>
          <button mat-menu-item (click)="logout()">Odhlásiť sa</button>
        </mat-menu>
      } @else {
        <button class="right-button create-btn" mat-button color="accent" (click)="createPost()" >Nový príspevok</button>
        <button class="right-button" mat-button [routerLink]="['/login']">Login</button>
        <button class="right-button" mat-button [routerLink]="['/register']">Registration</button>
      }
    </div>

  </div>
</mat-toolbar>
