mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.logo {
  width: 8%;
  height: auto;
}

.logo:hover {
  cursor: pointer;
}

.left {
  width: 30%;
}
.right {
  width: 30%;
  align-items: end;
  display: flex;
  justify-content: end;

}
