<div class="row" style="margin-bottom:15px;">
  <div class="col-md-3">

    <!-- drag and drop -->
    @if(!fileChosen){
      <div class="drag-drop-container">
        <input type="file" #file class="drag-drop" placeholder="Choose file" (change)="uploadFile(file.files)">
        <div>
          <div class="upload-icon-container">
            <span class="material-icons upload-icon">
                file_upload
              </span>
          </div>
        </div>
      </div>
    } @else {
      <div class="chosen-file-details">
        <p>{{fileToUpload.name}}</p>
        <button mat-icon-button (click)="removeChosenFile()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>

    }

  </div>
  <div class="col-md-4">
    @if(progress > 0){
      <span class="upload">
      {{progress}}%
    </span>
    }

    @if(message){
      <span class="upload">
      {{message}}
    </span>
    }

  </div>
</div>
