<div class="row" style="margin-bottom:15px;">
  <div class="col-md-3">

    <!-- button for selecting file -->
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-success" (click)="file.click()">Choose File</button>
  </div>
  <div class="col-md-4">
    @if(progress > 0){
      <span class="upload">
      {{progress}}%
    </span>
    }

    @if(message){
      <span class="upload">
      {{message}}
    </span>
    }

  </div>
</div>
