.upload{
  font-weight:bold;
  color:#28a745;
  margin-left: 15px;
  line-height: 36px;
}

.drag-drop{
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.drag-drop-container{
  margin-top: 20px;
  width: 100%;
  height: 200px;
  border: 2px dashed #007bff;
  border-radius: 20px;
  position: relative;
}

.drag-drop-container:hover{
  background-color: rgba(95, 167, 246, 0.55);
  cursor: pointer;
}

.drag-drop-container div{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  background-color: transparent;
}

.drag-drop-container div div{
  position: relative;
  left: -50%;
  top: -40px; /* one half of .upload-icon {font-size} */
  text-align: center;
  height: 50px;
}

button[mat-icon-button] {
  background-color: transparent;
  color: #d32f2f;
  font-size: 24px; /* Väčšie tlačidlo */
  border-radius: 50%;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

button[mat-icon-button]:hover {
  background-color: #ffe6e6;
  transform: scale(1.1);
}

.chosen-file-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin: 20px 0;
}

.chosen-file-details p{
  margin: 0;
  font-size: 16px;
  text-decoration: underline;
}

.upload-icon{
  font-size: 80px; /* if changing, change also .drag-drop-container div div {top}*/
  transition: transform 0.3s ease-in-out;
  color: rgba(0, 123, 255, 0.78);
}

.drag-drop-container:hover .upload-icon {
  transform: scale(1.2) translateY(-10px);
}
