
.user-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif;

}

.user-dialog p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  white-space: normal;
}



.header {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: center;
}

.headerh1{
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}



.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.pfp {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-info {
  width: 100%;
  text-align: left;
}

.admin {
  color: #e74c3c;
  font-weight: bold;
}

.master {
  color: #3498db;
  font-weight: bold;
}

.student {
  color: #2ecc71;
  font-weight: bold;
}

.note-section {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
  display:flex;
  flex-direction: column;
}

.note {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.note input {
  flex: 1;
  padding: 10px 0 ;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.note input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.save-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}

.save-btn:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

.save-btn:active {
  background-color: #004085; /* Ešte tmavšia pri kliknutí */
  transform: scale(0.98);
}

.role-section {
  width: 100%;
  text-align: left;
  margin-top: 15px;
}

mat-form-field {
  width: 100%;
}

@media (max-width: 600px) {
  .user-dialog {
    padding: 15px;
  }

  .headerh1 {
    font-size: 1.25rem;
  }
}

