.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, auto );
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin: 10px;
  font-family: Montserrat, sans-serif ;
}

.div1 {
  grid-area: 1 / 1 / 2 / 6;
  display: flex;
  justify-content: flex-start;
}

.div2 {
  grid-area: 2 / 1 / 4 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div3  {
  grid-area: 2 / 3 / 4 / 6;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-end;
  padding-top: 5px;
}

.div4 {
  grid-area: 4 / 1 / 6 / 6;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-top: 10px;
}

.note {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.div5 {
  grid-area: 6 / 1 / 7 / 6;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.pfp {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.save-btn {
  margin-left: 5px;
  background-color: #808080;
  color: #fff;
  cursor: pointer;

}

h1 {
  font-weight: bolder;
}

