
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='user-info-dialog.component.css'>

<div class="parent">
<div class="div1">
  <h1>Informácie o používateľovi</h1>
</div>
  <div class="div2">
    <img class="pfp" src="assets/profilovka.jpeg"/>
  </div>
  <div class="div3">
  <p><strong>Užívateľské meno:</strong> {{data.username}}</p>
  <p><strong>Pozícia:</strong> {{data.role}}</p>
  <p><strong>Status:</strong> {{data.status}}</p>
  </div>

  @if ((loggedRole() == "master" || loggedRole() == "admin") && this.authService.isAuthenticated()){
    <div class="div4">
      <p><strong>Poznámka</strong>(poznámku vidíte len vy)</p>
    <div class="note"> <input type="text" size="35" maxlength="35" [(ngModel)]="note"/>
    @if(noteLoaded){
      <button class="save-btn" type="submit" (click)="updateNote()">Uložiť poznámku</button>
    }
    @if(noteUpdated){
      <i class="bi bi-check-lg"></i>
    }
    </div>
    </div>
  }

  @if (loggedRole() == "admin" && this.authService.isAuthenticated()){

    <div class="div5">
      <p><strong>Zmeniť rolu</strong></p>
      @if(data.role != "admin"){
        <mat-form-field>
          <mat-label>Vyberte rolu</mat-label>
          <mat-select [(value)]="selected" (selectionChange)="changeRole()">
            <mat-option value="student">Student</mat-option>
            <mat-option value="master">Master</mat-option>
            <mat-option value="admin">Admin</mat-option>
          </mat-select>
        </mat-form-field>
      }
      @if (selected == "admin" && data.role != "admin"){
        <p style="color: red">Nastavili ste rolu admina, po opustení tohto okna ju nebude možné odobrať</p>
      }
    </div>


  }
</div>

