<div class="grid">
  <div class="div1">
    <input class="search"  type="text" placeholder="🔍︎ Prehľadávať" >
  </div>

  <div class="div2">
    @if (showPostsLoader){
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px">
        <mat-spinner [diameter]="50"></mat-spinner>
        <p>Načítavam príspevky</p>
      </div>

    } @else {
      <mat-list class="posts-list">
      @for (post of postList; track post) {
      <div class="posts-item">
        <div class="creator">
          <img class="pfp" src="assets/profilovka.jpeg"/>
          <div class="c-info">
            <p>{{post.author}}</p>
            <p >{{post.date}}</p>
          </div>
        </div>
        <h2>{{post.title}}</h2>
        <p class="post-description">{{post.description}}</p>
        <a
          [routerLink]="['/post-details', post.id]">
          Zobraziť viac
        </a>
      </div>
      }
      </mat-list>
    }
  </div>

  <div class="div3">
    @if (showUsersLoader){
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px">
        <mat-spinner [diameter]="50"></mat-spinner>
        <p>Načítavam používateľov...</p>
      </div>

    } @else{
      <h2 style="padding-left: 15px">Zoznam všetkých používateľov</h2>
      <div class="users-list">

        @for (user of userList; track user) {
          <div class="users-item">
              <div class="user">
                <img class="pfp" src="assets/profilovka.jpeg"/>
                <div class="u-info">
                  <p>{{user.username}}</p>
                </div>
              </div>
          </div>
        }

        </div>
    }

  </div>
</div>
