
*{
  box-sizing: border-box;

}

.grid {
  display: grid;
  grid-template-columns: 3fr  1fr;
  grid-template-rows: 0.10fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 3;   display: flex; justify-content: center; }
.div2 { grid-area: 2 / 1 / 3 / 2; max-width: 75vw;}
.div3 { grid-area: 2 / 2 / 3 / 3; border-left: #ccc 1px solid; }

.search {
  margin-top: 1%;
  margin-bottom: 1%;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
}

.posts-list {
  max-height: 85vh;
  width: 100%;
  padding: 0 50px;
  overflow-y: scroll;
}

.posts-item {

  padding: 12px 0;
  border-top: 1.5px solid #aaa ;

  width: 100%;
}
  .users-list {
    padding-left: 15px;
    max-height: 85vh;
    overflow-y: scroll;

  }

  .date-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

.post-description{
  line-height: 1.5em;
  max-height: 3em;
  overflow: hidden;
}

a{
  text-decoration: underline;
  color: darkblue;
}

a:hover{
  cursor: pointer;
}

.creator {
  display: flex;

}

.c-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5%;
}



.pfp {
  display: inline-block;
  vertical-align: middle;

  width: 50px;
  height: 50px;
  border-radius: 50%;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 10px 0;
}
