<div class="grid">
  <div class="div1">



    <div class="search-container">
      <input type="text" class="searchTerm" placeholder="Prehľadávať" [(ngModel)]="searchText">
      <button type="submit" class="searchButton">
        <i style="color: white; font-size: 25px; display: flex; justify-content: center" class="bi bi-search"></i>
      </button>
    </div>

  </div>



  <div class="div2">
    @if (showPostsLoader){
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px">
        <mat-spinner [diameter]="50"></mat-spinner>
        <p>Načítavam príspevky</p>
      </div>

    } @else {
      <div class="order-container">
        <p class="xd">Zoradiť podľa: {{ orderBy }}</p>
        <button mat-button [matMenuTriggerFor]="menu">
          <i class="bi bi-chevron-down"></i>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button (click)="changeOrder('newest')" mat-menu-item> Od najnovšieho </button>
        <button (click)="changeOrder('oldest')" mat-menu-item> Od najstaršieho </button>
        <button (click)="changeOrder('most-liked')" mat-menu-item>
          Lajky
          <i class="bi bi-arrow-down"></i>
        </button>
        <button (click)="changeOrder('least-liked')" mat-menu-item>
          Lajky
          <i class="bi bi-arrow-up"></i>
        </button>
      </mat-menu>

      <mat-list class="posts-list">
      @for (post of postList  | searchPipe: searchText; track post) {
      <div class="posts-item">
        <div>

        </div>
        <div class="creator">
          <img class="pfp" src="assets/profilovka.jpeg"/>
          <div class="c-info">
            <p>{{post.author}}</p>
            <p >{{post.date}}</p>
          </div>
        </div>
        <h2>{{post.title}}</h2>
        <p class="post-description">{{post.description}}</p>
        <a
          [routerLink]="['/post-details', post.id]">
          Zobraziť viac...
        </a>
        <div class="likes-container" (click)="onLike(post.id)">

          @if (post.isLiked){
            <i  class="bi bi-heart-fill"></i>
          } @else {
            <i  class="bi bi-heart"></i>
          }
          <p>{{post.likes }}</p>
        </div>


      </div>
      }
      </mat-list>
    }
  </div>

  <div class="div3">
    @if (showUsersLoader){
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px">
        <mat-spinner [diameter]="50"></mat-spinner>
        <p>Načítavam používateľov...</p>
      </div>

    } @else{
      <h2 style="padding-left: 15px">Zoznam všetkých používateľov</h2>
      <div class="users-list">

        @for (user of userList; track user) {
          <div class="users-item">
              <div class="user">
                <img class="pfp" src="assets/profilovka.jpeg"/>
                <div class="u-info">
                  <p>{{user.username}}</p>
                </div>
              </div>
          </div>
        }

        </div>
    }

  </div>
</div>


