
*{
  box-sizing: border-box;

}

body{
  background: #f2f2f2;
  font-family: 'monsterrat', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 20%;
  border: 3px solid #7e7e85;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #7e7e85;
  margin: 10px 0 10px 10px;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  margin: 10px 10px 10px 0;
  border: 1px solid #7e7e85;
  background: #7e7e85;
  text-align: center;
  color: #7e7e85;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 30px;
}

.search-img {
  color: black    ;

}

.grid {
  display: grid;
  grid-template-columns: 3fr  1fr;
  grid-template-rows: 0.10fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 3;   display: flex; justify-content: center; }
.div2 { grid-area: 2 / 1 / 3 / 2; max-width: 75vw;}
.div3 { grid-area: 2 / 2 / 3 / 3; border-left: #ccc 1px solid; }

.search {
  margin-top: 1%;
  margin-bottom: 1%;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
}

.posts-list {
  max-height: 85vh;
  width: 100%;
  padding: 0 50px;
  overflow-y: scroll;
}

.posts-item {

  padding: 12px 0;
  border-top: 1.5px solid #aaa ;

  width: 100%;
}
  .users-list {

    max-height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;



  }
  .users-item {
    display: flex;
    padding: 10px;

    align-items: flex-start ;
    justify-content: flex-start;
    margin: 0;

  }

  .u-info{
  display: flex;
    align-items: center;
    justify-content: center;

  }

  .user-img {

    border-radius: 50%;
    display:flex;

  }

  .date-container{
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

.post-description{
  line-height: 1.5em;
  max-height: 3em;
  overflow: hidden;
}

a{
  text-decoration: underline;
  color: darkblue;
}

a:hover{
  cursor: pointer;
}

.creator {
  display: flex;

}

.c-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5%;
}



.pfp {
  display: inline-block;
  vertical-align: middle;

  width: 50px;
  height: 50px;
  border-radius: 50%;
}

p {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 10px 0;
}
.user{
  display: flex;

  justify-content: start;

}

.u-info p {
  text-align: center;
  font-size: 1,5em;
  margin-left: 10px;
}

.like-btn{
  width: 20px;
  display: block;
  margin-top: 5px;
}

.like-btn:hover{
  cursor: pointer;
}

.like-btn-liked{
  fill: green;
}

.likes-container{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}

.likes-container svg,p{
  margin: 0;
}

