.container{
  padding: 25px 10%;
  width: 80%;
  background-color: #f9f6f7;
}

.author{
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 15px;
}

.author-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pfp {
  display: inline-block;
  vertical-align: middle;

  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.description{
  margin-top: 20px;
  padding: 5px;
  color: #707070;
  word-break: break-word;
}

.code{
  overflow: scroll;
  background-color: #999;
  max-height: 60em;
}

form {
  width: 500px;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 96%;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  margin-right: 10px;
  resize: vertical;
  max-height: 200px;
  min-height: 32px;
  border-radius: 5px;
}

textarea {
  height: 32px;
  overflow: scroll;
}

textarea:focus  {
  outline: none;
}

.submit-btn, .disabled-btn {
  width: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.disabled-btn:hover{
  cursor: default;
}

.comments-section{
  margin-top: 20px;
}


.like-btn:hover{
  cursor: pointer;
}


.likes-container svg,p{
  margin: 0;
}


.order-container{
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
}

.order-container p{
  margin: auto 0;
}

.post-info{
  padding: 20px;
}

.box{
  box-shadow: 0 8px 5px #ccc;
  border-radius: 15px;
  background-color: #fff;
}

.add-comment{
  padding: 20px;
}

.likes-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #F9F6F7;
  width: 35px;
  border-radius: 20px;
  margin-top: 10px;
}

.likes-container:hover{
  background-color: #c4c4c4;
  cursor: pointer;

}

.bi-heart-fill{
  color: #CD1C1C;
}



.order-container{
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
}

.order-container p{
  margin: auto 0;
}

