.container{
  margin: 4em auto;
  width: 80%;
  padding-bottom: 200px;
}

.author{
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.profile-picture{
  stroke: grey;
  width: 2em;
}

.author p{
  margin: auto 0;
}

.description{
  margin-top: 20px;
  padding: 5px;
  background-color: #ccc;
  word-break: break-word;
}

.code{
  overflow: scroll;
  background-color: #999;
  max-height: 60em;
}

form {
  width: 500px;
  padding: 20px;
  border: 1px solid #ddd;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 96%;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  margin-right: 10px;
}

textarea {
  height: 100px;
}

button {
  width: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.disabled-btn:hover{
  cursor: default;
}

.comments-section{
  margin-top: 20px;
}

.like-btn{
  width: 20px;
  display: block;
  margin-top: 5px;
}

.like-btn:hover{
  cursor: pointer;
}

.like-btn-liked{
  fill: green;
}

.likes-container{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}

.likes-container svg,p{
  margin: 0;
}

