<div class="container">
  <header>
    <h1>Vytvor príspevok</h1>
  </header>
  <main>
    <form [formGroup]="CreatePostForm">
      <div class="form-group">
        <label for="title">Názov</label>
        <input type="text" id="title" class="form-control" formControlName="title"/>
      </div>
      <div class="form-group">
        <label for="description">Popis</label>
        <input class="form-control" id="description" formControlName="description">
      </div>
      <div class="form-group">
        <label for="code">Kód</label>
        <textarea id="code" class="form-control" formControlName="code"></textarea>
      </div>
      <button (click)="submitPost()" type="submit">Vytvoriť</button>
    </form>
  </main>
</div>
