body{
  max-height: 100vh;
}

h2{
  margin: 0;
  text-align: center;
}

.cdk-container {
  width: auto;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.cdk-list {
  border: 1px solid #ccc;
  background-color: white;
  min-height: 45px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  margin-bottom: 20px;
}


.cdk-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-box:last-child {
  border: none;
}

.cdk-list.cdk-drop-list-dragging .cdk-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.main-container{
  display: grid;
  grid-template-columns: 1fr 350px 1fr;
}

.groups-list-container{
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  /* height of navbar - height of .create-group-container - padding of .create-group-container*/
  grid-template-rows: calc(100vh - 130px - 140px - 20px);
  margin: 25px 100px;
  justify-content: space-between;
  grid-row: 2;
  grid-column: 1/4;
}

.groups-container{
  display: flex;
  flex-direction: column;
}

.group-head{
  display: grid;
  grid-template-columns: 1fr auto;
}

.cdk2{
  grid-column: 3;
}

.unassigned-usrs-container, .groups-container{
  max-height: 90%;
  overflow: scroll;
  overflow-x: hidden;

  /* hiding scrollbars */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* hiding scrollbars for Chrome, Safari and Opera */
.unassigned-usrs-container::-webkit-scrollbar, groups-container::-webkit-scrollbar {
  display: none;
}

.create-button {
  width: 100%;
  margin-bottom: 12px;

}

mat-icon {
  background-color: transparent;
  color: #d32f2f;
  font-size: 24px;
  border-radius: 50%;
  align-self: end;
}

mat-icon:hover {
  background-color: transparent;
  transform: scale(1.1);
  cursor: pointer;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  color: #555;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  resize: none;
  overflow-y: auto;
}

textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.create-group-container{
  width: 100%;
  align-self: center;
  justify-self: center;
  height: 140px;
  grid-row: 1;
  grid-column: 2;
  margin-top: 20px;
}

.users-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border-left: 4px solid transparent;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  height: 45px;
}


.users-item.master {
  border-left-color: #3498db;
  background: rgba(52, 152, 219, 0.1);
}

.users-item.default {
  border-left-color: #2ecc71;
  background: rgba(46, 204, 113, 0.1);
}

@media (max-width: 850px){
  .groups-list-container{
    margin: 25px 10px;
    grid-template-columns: 1fr 25px 1fr;
  }
}
