<div class="container">
  @for (notification of notifications; track notification) {
    <div class="notification-card">
      <div class="card-header" (click)="navigateToDetails(notification.type, notification.itemId, notification.postId)">
        <p class="timestamp">{{ notification.createTime }}</p>
        <mat-card-title>
          @if(notification.type == "comment") {
            Používateľ {{ notification.authorUsername }} komentoval Váš príspevok:
          } @else if (notification.type == "postLike") {
            Používateľovi {{ notification.authorUsername }} sa páči Váš príspevok:
          } @else if (notification.type == "commentLike") {
            Používateľovi {{ notification.authorUsername }} sa páči Váš komentár u príspevku:
          }
        </mat-card-title>
        <mat-card-title class="post-title">"{{ notification.postTitle }}"</mat-card-title>
      </div>
      <mat-card-actions>
        <button mat-icon-button (click)="onRemoveNotification(notification.type, notification.itemId)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  } @empty {
    @if (showLoader){
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 20px">
        <mat-spinner [diameter]="50"></mat-spinner>
        <p>Načítavam oznámenia</p>
      </div>
    } @else {
    <p class="no-notifications">Nemáte žiadne nové upozornenia</p>
    }
  }
</div>
