.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5px;
  margin-top: 40px;
  overflow-y: hidden;
}

.register-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.75rem; /* Dynamická veľkosť */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subheader {
  font-size: 2rem; /* Dynamická veľkosť */
  color: #555;
  margin: 10px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.full-width {
  width: 100%;
}

.captcha-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.register-btn {
  width: 100%;
  margin-top: 15px;
}

.login-link {
  margin-top: 15px;
  font-size: 0.9rem;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .register-card{
    width: 80%;
  }
  .header{
    font-size: 3rem;
  }
  .subheader {
    font-size: 1.7rem;
  }

  .page-container {
    height: auto;
    margin-top: 10%;
  }
}

