@if (authService.authenticated()) {
  <h1>You're currently logged in.</h1>
} @else {
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="'password'" formControlName="password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="'password'" formControlName="confirmPassword">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Register</button>
  </form>
}
