<script src="https://www.google.com/recaptcha/api.js"></script>

<div class="page-container">
  <h1 class="header">OpenForum</h1>
  <h2 class="subheader">Zaregistruj sa a pomáhaj si s ostatnými OpenLabistami!</h2>

  <div class="register-card">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Heslo</mat-label>
        <input matInput type="password" formControlName="password" required />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Potvrďte heslo</mat-label>
        <input matInput type="password" formControlName="confirmPassword" required />
      </mat-form-field>

      <p style="color: red">{{ errorMessage }}</p>

      <div class="captcha-container">
        <re-captcha (resolved)="resolved($event)" siteKey="6LdESbkqAAAAABVOJnmG1cOyx5FGPD1e23TVUHur"></re-captcha>
      </div>

      <button mat-raised-button color="primary" type="submit" class="register-btn" [disabled]="!captcha">
        Registrovať
      </button>

      <p class="login-link">
        Už máte účet? <a [routerLink]="['/login']">Prihlásiť sa</a>
      </p>
    </form>
  </div>
</div>
