/* You can add global styles to this file, and also import other style files */
@import '~highlight.js/styles/github.css';





html, body { height: 100%; }
body { margin: 0;   font-family: 'Montserrat', sans-serif; background-color: #f4f6f9 }

.custom-dialog-container {
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  width: 30%
}


@media (max-width: 600px) {
  .custom-dialog-container {
    width: 90vw !important;
    max-width: 95vw !important;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  .custom-dialog-container {
    width: 60vw !important;
    max-width: 85vw !important;
  }
}

