<div class="container">
  <div class="table_component">
    <table>
      <thead>
      <tr>
        <th>Názov súboru</th>
        <th>Typ súboru</th>
        <th>Veľkosť súboru</th>
        <th>Súbor pridal</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>CSS</td>
        <td>docx.</td>
        <td>1052KB</td>
        <td>Šaňo</td>
      </tr>
      <tr>
        <td>HTML</td>
        <td>pptx.</td>
        <td>15MB</td>
        <td>Jožo</td>
      </tr>
      <tr>
        <td>C#</td>
        <td>pages.</td>
        <td>2MB</td>
        <td>Arnošt</td>
      </tr>
      <tr>
        <td>Angular</td>
        <td>pdf.</td>
        <td>2541KB</td>
        <td>Dušan</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
